#main {
    padding: 30px;
    font-size: 24px;
}

#question-answer {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 30px;
}

button {
    width: 100px;
    font-size: 20px;
    height: 60px;
    margin-right: 20px;
}

#player-answer-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

#set-score-container {
    margin-top: 40px;
    border: 1px solid black;
    width: 300px;
    padding: 20px;
}

button#set-score {
    margin-top: 20px;
}

select#round-input {
    font-size: 20px;
    height: 60px;
    margin-right: 10px;
}